@{
    ViewData["Title"] = "Home Page";
        
}

<body class="bg">
    <br /> <br />
  <center>
      <div class="d">
    <img src="~/image/img1.jpeg" width="800px" height="600px" />
    </div>

 

 </center>
</body>
